/* halaman utama halaman admin */
.admin-shell {
  height: 100vh;            
  display: flex;            
  background: #f3f6f4;     
}

/* sidebar kiri admin */
.admin-sidebar {
  width: 260px;             
  background: #0f2a16;      
  color: #eaf3ec;           
  padding: 16px;            
  display: flex;
  flex-direction: column;  
  gap: 14px;                
}

/* box area judul dan subjudul */
.brand {
  padding: 14px;
  border-radius: 14px;      
  background: rgba(255,255,255,0.06);  
  border: 1px solid rgba(255,255,255,0.10);
}

/* judul aplikasi-panel admin */
.brand-title {
  font-size: 22px;
  font-weight: 900;     
  color: #fff;
}

/* subjudul aplikasi-sistem absensi */
.brand-sub {
  font-size: 14px;
  margin-top: 6px;
  color: rgba(234,243,236,0.85);
}

/* tombol master data */
.nav-parent {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 11px 12px;
  border-radius: 12px;
  cursor: pointer;                 
  border: 1px solid rgba(255,255,255,0.12);
  background: rgba(255,255,255,0.06);
  color: rgba(234,243,236,0.95);
  font-size: 14px;
  font-weight: 900;
}

/* submenu master data-pengguna */
.nav-sub {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;       
}

/* item submenu-pengguna masuk ke halaman */
.nav-item {
  display: block;
  padding: 10px 12px;
  border-radius: 12px;
  text-decoration: none;    
  font-size: 13px;
  font-weight: 800;
  color: rgba(234,243,236,0.92);
  background: rgba(255,255,255,0.06);
  border: 1px solid transparent;
}

/* tombol logout */
.logout-btn {
  margin-top: auto;         
  height: 44px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.14);
  background: rgba(255,255,255,0.08);
  cursor: pointer;
  font-weight: 900;
  color: #fff;
  font-size: 14px;
}

/* halaman kanan admin */
.admin-content {
  flex: 1;                  
  padding: 18px;            
  overflow: auto;           
}
